<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgmdJd44IhPgbw1m2LjiT_V0PtV_a4sEA</string>
	<key>GCM_SENDER_ID</key>
	<string>1087862331105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safeCom</string>
	<key>PROJECT_ID</key>
	<string>hackathon-6f599</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-6f599.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087862331105:ios:a9f4064076546b52a9c9a0</string>
</dict>
</plist>